<div class="images-container">
  <div class="images-container__item">
    <div class="images-container__item__image" style="background-image: url('/static/1.jpg');"></div>
  </div>
  <div class="images-container__item">
    <div class="images-container__item__image" style="background-image: url('/static/2.jpg');"></div>
  </div>
  <div class="images-container__item">
    <div class="images-container__item__image" style="background-image: url('/static/1.jpg');"></div>
  </div>
  <div class="images-container__item">
    <div class="images-container__item__image" style="background-image: url('/static/2.jpg');"></div>
  </div>
  <div class="images-container__item">
    <div class="images-container__item__image" style="background-image: url('/static/1.jpg');"></div>
  </div>
  <div class="images-container__item">
    <div class="images-container__item__image" style="background-image: url('/static/2.jpg');"></div>
  </div>
  <div class="images-container__item">
    <div class="images-container__item__image" style="background-image: url('/static/1.jpg');"></div>
  </div>
  <div class="images-container__item">
    <div class="images-container__item__image" style="background-image: url('/static/2.jpg');"></div>
  </div>
</div>