<main>
   <div class="sidebar">
      <ul>
         <li>
            <a href="/">1</a>
         </li>
         <li>
            <a href="/">2</a>
         </li>
      </ul>
   </div>
   <div class="main-container">
      {{>images-container}}
   </div>
</main>