main {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  width: 100%;
}

.sidebar {
  flex: 1;
  max-width: 200px;
}

.main-container {
  flex: 1;
}

main::after {
  flex: 1;
  content: '';
  max-width: 200px;
}

.images-container__item__image {
  width: 100%;
  padding-bottom: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.images-container {
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 80em) {
  .images-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (max-width: 80em) {
  main::after {
    flex: 0;
  }

  .images-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (max-width: 60em) {
  .images-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 55em) {
}

@media screen and (max-width: 40em) {
  .images-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: auto;
  }
}

@media screen and (max-width: 25em) {
  .images-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
