main {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  width: 100%;
}

.sidebar {
  flex: 1;
  max-width: 200px;
}

.main-container {
  flex: 1;
}

main::after {
  flex: 1;
  content: '';
  max-width: 200px;
}

@media screen and (min-width: 80em) {
}

@media screen and (max-width: 80em) {
  main::after {
    flex: 0;
  }
}

@media screen and (max-width: 60em) {
}

@media screen and (max-width: 55em) {
}

@media screen and (max-width: 40em) {
}

@media screen and (max-width: 25em) {
}
